@font-face {
	font-family: 'Cooper Std';
	src: url("../fonts/Cooper/CooperBlackStd.eot");
	src: local("Cooper Std Black"),
		 local("CooperBlackStd"),
		 url("../fonts/Cooper/CooperBlackStd.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Cooper/CooperBlackStd.woff2") format("woff2"),
		 url("../fonts/Cooper/CooperBlackStd.woff") format("woff"),
		 url("../fonts/Cooper/CooperBlackStd.ttf") format("truetype"),
		 url("../fonts/Cooper/CooperBlackStd.svg#CooperBlackStd") format("svg");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Trebuchet MS';
	src: url("../fonts/TrebuchetMS/TrebuchetMS.eot");
	src: local("Trebuchet MS"),
		 local("TrebuchetMS"),
		 url("../fonts/TrebuchetMS/TrebuchetMS.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/TrebuchetMS/TrebuchetMS.woff2") format("woff2"),
		 url("../fonts/TrebuchetMS/TrebuchetMS.woff") format("woff"),
		 url("../fonts/TrebuchetMS/TrebuchetMS.ttf") format("truetype"),
		 url("../fonts/TrebuchetMS/TrebuchetMS.svg#TrebuchetMS") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Sylfaen;
	src: url("../fonts/Sylfaen/Sylfaen.eot");
	src: local("Sylfaen"),
		 url("../fonts/Sylfaen/Sylfaen.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Sylfaen/Sylfaen.woff2") format("woff2"),
		 url("../fonts/Sylfaen/Sylfaen.woff") format("woff"),
		 url("../fonts/Sylfaen/Sylfaen.ttf") format("truetype"),
		 url("../fonts/Sylfaen/Sylfaen.svg#Sylfaen") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Sirona;
	src: url("../fonts/Sirona/Sirona.eot");
	src: local("Sirona"),
		 url("../fonts/Sirona/Sirona.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Sirona/Sirona.woff2") format("woff2"),
		 url("../fonts/Sirona/Sirona.woff") format("woff"),
		 url("../fonts/Sirona/Sirona.ttf") format("truetype"),
		 url("../fonts/Sirona/Sirona.svg#Sirona") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Comic Sans MS';
	src: url('../fonts/ComicSans/ComicSansMS.eot');
	src: local('Comic Sans MS'),
		 local('ComicSansMS'),
		 url('../fonts/ComicSans/ComicSansMS.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ComicSans/ComicSansMS.woff2') format('woff2'),
		 url('../fonts/ComicSans/ComicSansMS.woff') format('woff'),
		 url('../fonts/ComicSans/ComicSansMS.ttf') format('truetype'),
		 url('../fonts/ComicSans/ComicSansMS.svg#ComicSansMS') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*	Сброс стилей	*/

a,article,aside,blockquote,body,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,
i,iframe,img,label,li,menu,nav,object,ol,p,q,section,span,table,
tbody,td,tfoot,th,thead,tr,ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol,
ul {
	list-style: none;
}

q {
	quotes: "\0022" "\0022";
}

::-moz-selection {
	background: #b3b5c8;
}

::selection {
	background: #b3b5c8;
}

::-webkit-scrollbar {
	width: .8em;
}

::-webkit-scrollbar-track {
	background-color: rgba(128, 132, 163, .6);
}

::-webkit-scrollbar-thumb {
	background: rgba(3, 8, 30, .5);
	border-radius: 5px;
	-webkit-box-shadow: inset .05em .05em 0 rgba(0, 0, 0, .1), inset 0 -.05em 0 rgba(0, 0, 0, .07);
	box-shadow: inset .05em .05em 0 rgba(0, 0, 0, .1), inset 0 -.05em 0 rgba(0, 0, 0, .07);
}

img {
	max-width: 100%;
	height: auto;
}


/*	Общие стили		*/

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

body {
	overflow-x: hidden;
	font-family: 'Trebuchet MS', 'Comic Sans MS', sans-serif;
}

header,
section,
footer {
	width: 100%;
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
}

.container::after {
	content: " ";
	display: block;
	clear: both;
}

.section-title {
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 45px;
	border-bottom: 4px solid #ffac6c;
	font-family: 'Sirona', cursive;
	font-size: 3rem;
	line-height: 1;
}

.section-button {
	display: inline-block;
	min-width: 160px;
	text-decoration: none;
	border: 2px solid #ffac6c;
	font-family: 'Trebuchet MS', 'Comic Sans MS', sans-serif;
	color: #2f374a;
}

.scales-line {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}



/*	Навигация	*/
.menu-label {
	display: none;
}

nav {
	position: relative;
	z-index: 2;
	width: 100%;
	background: #03081e;
}

nav .container {
	padding: 0 100px;
}

.nav-left,
.nav-right {
	position: relative;
	display: inline-block;
	margin-right: 35px;
	padding: 25px 0;
	line-height: 1;
}

.nav-left {
	float: left;
}

.nav-right {
	float: right;
}

.nav-extend::after {
	content: '';
	position: relative;
	left: 5px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("../img/sprite.svg") -35px -945px;
	background-size: 70px;
	-webkit-transition: -webkit-transform .25s;
	transition: -webkit-transform .25s;
	transition: transform .25s, -webkit-transform .25s;
}

.nav-right:hover::after {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.head-menuLeft,
.head-menuRight,
.logo {
	display: inline-block;
	vertical-align: middle;
}

.nav-left a,
.nav-right a,
.mobile-menu {
	position: relative;
	display: inline-block;
	padding: 5px 0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	color: #fff;
}

.mobile-menu {
	display: none;
	cursor: pointer;
}

.nav-left > a .nav-right > a {
	-webkit-transition: border-bottom .25s ease;
	transition: border-bottom .25s ease;
}

.nav-left > a::before,
.nav-right > a::before {
	content: '';
	position: absolute;
	left: 0;
	right: 100%;
	bottom: -5px;
	background: #ffac6c;
	height: 2px;
	-webkit-transition: right .25s ease-out;
	transition: right .25s ease-out;
}

ul li > a:hover::before {
	right: 0;
}

.nav-right:hover > .submenu {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

nav .menu-active::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -5px;
	background: #ffac6c;
	height: 2px;
}

.submenu {
	position: absolute;
	top: 100%;
	left: 0;
	-webkit-box-shadow: 1px 2px 3px #000;
	box-shadow: 1px 2px 3px #000;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.submenu li {
	display: inline-block;
	width: 250px;
	border-top: 1px solid #332d1a;
	background: #03081e;
}

.submenu a {
	display: block;
	padding: 15px;
	font-size: .8em;
	font-weight: 400;
	-webkit-transition: color .25s, background-color .25s;
	transition: color .25s, background-color .25s;
}

.submenu a:hover {
	background: #fff;
	color: #2f374a;
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 115px;
}

.logo img {
	position: relative;
	top: 30px;
}

/*	Шапка/Слайдер	*/

.slider {
	position: relative;
	padding-top: 85vh;
	text-align: center;
	background: #03081e;
	background: #03081e;
	background: -webkit-linear-gradient(bottom, #656a7a 0%, #03081e 1.5%, #03081e 100%);
	background: -moz-linear-gradient(bottom, #656a7a 0%, #03081e 1.5%, #03081e 100%);
	background: -ms-linear-gradient(bottom, #656a7a 0%, #03081e 1.5%, #03081e 100%);
	background: -o-linear-gradient(bottom, #656a7a 0%, #03081e 1.5%, #03081e 100%);
	background: linear-gradient(to top, #656a7a 0%, #03081e 1.5%, #03081e 100%);
}

.slider-label {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 20px 20px;
	background: #FFAC6C;
	border-radius: 50%;
	-webkit-transition: background ease .4s;
	transition: background ease .4s;
	cursor: pointer;
	-webkit-box-shadow: inset 0 0 5px 1px #fff;
	box-shadow: inset 0 0 5px 1px #fff;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 85vh;
	overflow: hidden;
	-webkit-animation: slide-out 1.5s;
	animation: slide-out 1.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.bg {
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide-1 .bg {
	background-image: url("../img/slider1.jpg");
}

.slide-2 .bg {
	background-image: url("../img/slider2.jpg");
}

.slide-3 .bg {
	background-image: url("../img/slider3.jpg");
}

.slider-check {
	display: none;
}

.slider-composition {
	position: absolute;
	top: 20%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 70%;
	max-width: 660px;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.slider-composition p {
	margin-bottom: 50px;
	line-height: 2.1em;
	color: #fff;
	font-family: 'Sirona', sans-serif;
	font-size: 1.1em;
}

.slider-composition a {
	display: inline-block;
	border: 7px solid #ffac6c;
	padding: 22px 15px;
	text-decoration: none;
	font-size: 1.25em;
	color: #fff;
}

.slide-title {
	margin-bottom: 20px;
	line-height: 1;
	font-family: 'Sylfaen';
	font-size: 4.05em;
	color: #ffac6c;
	text-shadow: 0 2px 0 #1E1A2A, 0 5px 0 rgba(255, 172, 108, 0.2);
}

.slide-title::after,
.slide-title::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 3px;
	width: 100%;
	background: #ffac6c;
}

.slide-title::before {
	margin-left: -100%;
}

.slide-title::after {
	margin-right: -100%;
}

.slide-title span {
	margin: 0 15px;
}

.slider-check:checked + .slider-label {
	-webkit-box-shadow: inset 0 0 5px 3px #FFAC6C, 0 0 5px #FFAC6C;
	box-shadow: inset 0 0 5px 3px #FFAC6C, 0 0 5px #FFAC6C;
	background: #fff;
}

.slider-check:checked + .slider-label + .slide {
	-webkit-animation: slide-in 5s;
	animation: slide-in 5s;
}

.slider-check:checked + .slider-label + .slide > .bg {
	-webkit-animation: scale 30s infinite;
	animation: scale 30s infinite;
}

.slider-check:checked + .slider-label + .slide > .slider-composition {
	-webkit-animation: up 3s;
	animation: up 3s;
}

/*	О нас	*/

.about {
	background: url("../img/about-bg.png") center 160px no-repeat;
	padding: 280px 0 140px;
}

.about p {
	margin-bottom: 50px;
	text-align: justify;
	text-indent: 2em;
	font-size: 1.1em;
}

.about q {
	font-family: 'Cooper Std';
}

.about-content {
	width: 40%;
	margin-left: 300px;
	text-align: center;
}

/*	Команда	*/

.team {
	padding: 95px 0;
	background: url("../img/team-bg.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
}

.team .section-title {
	color: #fff;
}

.team p {
	width: 100%;
	max-width: 770px;
	margin: 0 auto;
	text-align: center;
	font-weight: 600;
	color: #fff;
}

.team-outer {
	width: 100%;
	max-width: 970px;
	padding: 30px 0;
	margin: 65px auto;
	overflow: hidden;
}

.team-inner {
	width: 2000px;
	background: #000;
}

.team-left,
.team-right {
	position: absolute;
	top: 52%;
	display: inline-block;
	width: 45px;
	height: 45px;
	margin: 0 5px 20px;
	padding: 0;
	border-radius: 50%;
	background: #d1d1d1;
	border: none;
	outline: 0;
	color: #D4A670;
	font-size: 24px;
	cursor: pointer;
	-webkit-transition: -webkit-transform .25s;
	transition: transform .25s, -webkit-transform .25s;
}

.team-left {
	left: 10px;
}

.team-right {
	right: 10px;
}

.team-left:hover,
.team-right:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.team-item {
	float: left;
	margin: 0 20px 0 30px;
	width: 270px;
	padding: 25px;
	text-align: center;
	outline: 2px dashed #aca9a6;
	outline-offset: -8px;
	background: #ddd;
	-webkit-box-shadow: 0 5px 7px 2px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 7px 2px rgba(0, 0, 0, .5);
	cursor: pointer;
	-webkit-transition: -webkit-transform .25s;
	transition: transform .25s, -webkit-transform .25s;
}

.team-item:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.team-item img {
	max-width: 200px;
	margin-bottom: 15px;
	border: 5px solid #6e8c98;
	-webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 7px rgba(0, 0, 0, .5);
}

.team-item figcaption {
	margin-bottom: 15px;
	font-family: 'Sirona';
	font-size: 1.1rem;
}

.team-item a {
	font-size: 1.1rem;
}

/*	Услуги	*/

.services {
	text-align: center;
	padding: 0 0 80px;
}

.services .container {
	background: url("../img/offers-bg.jpg") center -50px no-repeat;
	background-size: contain;
}

.services h3 {
	margin: 10px 0 35px;
	font-size: 1.5em;
}

.services .section-title {
	margin-top: 50%;
}

.services .section-button {
	position: absolute;
	left: 50%;
	bottom: 20px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	padding: 10px 20px;
	font-weight: 600;
}

.services-subtitle {
	margin-bottom: 60px;
	font-family: 'Sirona';
	font-size: 1.35em;
}

.services-subtitle::after,
.services-subtitle::before {
	content: '';
	position: relative;
	top: 50px;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	background: url("../img/sprite.svg") -100px -11px no-repeat;
	background-size: 200px;
}

.services-subtitle::before {
	left: 20px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.services-subtitle::after {
	right: 20px;
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}

.services-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
}

.services-item {
	position: relative;
	width: 470px;
	padding: 0 10px 80px;
	-webkit-box-shadow: 0 2px 3px 1px #7c7c7c;
	box-shadow: 0 2px 3px 1px #7c7c7c;
}

[class^=icon-]::before {
	content: '';
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url("../img/sprite.svg");
	background-size: 80px;
}

.icon-car::before {
	background-position: 0 5px;
}

.icon-file::before {
	background-position: 0 -30px;
}

.icon-humans::before {
	background-position: 0 -65px;
}

.icon-home::before {
	background-position: 0 -100px;
}

.icon-briefcase::before {
	background-position: 0 -131px;
}

.icon-hourglass::before {
	background-position: 0 -170px;
}

.icon-gears::before {
	background-position: 0 -208px;
}

.icon-balance::before {
	background-position: -2px -245px;
}

.services-item ul {
	text-align: left;
	font-family: 'Comic Sans MS';
	font-size: 14px;
}

.services-item ul li {
	position: relative;
	padding-left: 100px;
	margin-bottom: 15px;
}

.services-item ul li::before {
	position: absolute;
	top: 50%;
	left: 50px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*	Достижения	*/

.achievements {
	padding: 210px 0 70px;
	background: url("../img/achiev-bg.jpg") center 275px no-repeat;
}

.achievements .section-title {
	color: #fff;
}

.achievements-content {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	padding: 70px 110px 50px;
	background: #2f4b5b;
	background: -webkit-radial-gradient(center, ellipse cover, #2f4b5b 0%, #2f4b5b 10%, #252b3e 90%, #252b3e 100%);
	background: -moz-radial-gradient(center, ellipse cover, #2f4b5b 0%, #2f4b5b 10%, #252b3e 90%, #252b3e 100%);
	background: -ms-radial-gradient(center, ellipse cover, #2f4b5b 0%, #2f4b5b 10%, #252b3e 90%, #252b3e 100%);
	background: -o-radial-gradient(center, ellipse cover, #2f4b5b 0%, #2f4b5b 10%, #252b3e 90%, #252b3e 100%);
	background: radial-gradient(ellipse at center, #2f4b5b 0%, #2f4b5b 10%, #252b3e 90%, #252b3e 100%);
	text-align: center;
	-webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .75);
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .75);
}

.achieve {
	position: relative;
	display: inline-block;
	margin: 10px 0 50px;
	padding-top: 80px;
	font-family: 'Sirona';
	color: #fff;
}

.achieve-number {
	font-size: 36px;
}

.achieve-name {
	font-size: 18px;
}

.total .achieve-number {
	position: relative;
	top: -35px
}

.total-descr {
	padding: 0 120px;
	font-family: 'Trebuchet MS';
	font-size: 16px;
	font-weight: 600;
}

.consult {
	float: left;
}

.cases {
	float: right;
}

.cases::before,
.consult::before,
.partners::before,
.total::before {
	content: '';
	position: absolute;
	top: -20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 95px;
	height: 90px;
	background: url("../img/sprite.svg") no-repeat;
	background-size: 800px 800px;
}

.consult::before {
	background-position: -430px -70px;
}

.partners::before {
	background-position: -430px -145px;
}

.cases::before {
	background-position: -430px -230px;
}

.total::before {
	top: -10px;
	width: 130px;
	height: 130px;
	background-position: -640px -475px;
	background-size: 1200px 1200px;
}

/*	Контакты	*/

.contacts {
	padding: 100px 0;
	text-align: center;
}

.contacts img {
	position: absolute;
	top: 90px;
	left: -160px;
	z-index: -1;
	width: 85%;
}

.contacts-descr {
	margin: 0 0 140px 30%;
	padding: 0 0 15px 10px;
	text-align: justify;
	color: #2f374a;
	font-family: 'Comic Sans MS';
	font-size: 1.125rem;
}

.contacts-descr::after {
	content: " ";
	display: block;
	clear: both;
}

.contacts-descr p {
	text-indent: 28px;
	margin-bottom: 20px;
	padding-right: 110px;
}

.contacts-list {
	position: relative;
	z-index: 1;
	float: right;
	width: 675px;
	padding: 35px 0;
	background: url("../img/contacts-list-bg.png") center top no-repeat;
}

.contacts-list li {
	position: relative;
	margin-bottom: 30px;
	padding-left: 105px;
}

.contacts-list li::before {
	position: absolute;
	top: 50%;
	left: 50px;
	height: 45px;
	width: 45px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background-size: 200px;
}

.contact-name,
.contact-number {
	text-indent: 5px;
}

.contact-name {
	font-size: 1rem;
}

.icon-phone::before {
	background-position: -157px -360px;
}

.icon-mobile::before {
	background-position: -153px -403px;
}

.icon-fax::before {
	background-position: -156px -453px;
}

.icon-mail::before {
	background-position: -152px -500px;
}

/*	Новости	*/

.news {
	width: 100%;
	padding: 60px 0 120px;
	text-align: center;
}

.news-pic {
	position: absolute;
	top: 40%;
	left: -80px;
	z-index: -1;
	width: 380px;
	height: 260px;
	background: url("../img/news-bg.jpg") 0 0 no-repeat;
	background-size: 100%;
}

.news article {
	float: right;
	margin-bottom: 60px;
}

.news img {
	float: right;
	display: inline-block;
	vertical-align: middle;
	outline: 6px solid #fff;
	outline-offset: -15px;
	-webkit-box-shadow: 0 2px 7px 3px rgba(0, 0, 0, .7);
	box-shadow: 0 2px 7px 3px rgba(0, 0, 0, .7);
}

.news .text {
	display: inline-block;
	width: 450px;
	margin-top: 60px;
	font-size: 1.1rem;
}

.text a {
	color: #000;
	font-size: 1.1rem;
}

.text a:hover {
	text-decoration: none;
}

.news p {
	text-align: left;
	text-indent: 24px;
	padding: 0 0 40px 0;
}

.news .section-button {
	position: absolute;
	bottom: -30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	padding: 10px 20px;
	font-weight: 600;
}

/*	Адрес	*/

.address {
	padding-top: 25px;
	background: #000318;
	text-align: center;
}

.address .section-title {
	color: #fff;
}

.address iframe {
	display: block;
	width: 100%;
	height: 530px;
	-webkit-filter: grayscale(100%) contrast(80%);
	filter: grayscale(100%) contrast(80%);
}

/*	Футер	*/

footer {
	padding: 25px 0 15px;
	background: #000318;
	border-top: 5px solid #ffac6c;
}

footer .container {
	padding: 0 120px;
	text-align: justify;
}

footer .container::after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 0;
}

footer a,
footer h3,
footer p {
	color: #fff;
}

footer h3 {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 700;
}

footer a,
footer p {
	font-family: 'Comic Sans MS';
}

footer a {
	font-size: 14px;
	text-decoration: none;
}

footer .footer-social li {
	display: inline-block;
}

footer figure {
	display: inline-block;
	text-align: center;
	color: #ffac6c;
	font-family: 'Sylfaen';
	font-size: 30px;
}

.footer-adress,
.footer-links,
.footer-social {
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
	text-align: left;
}

.social {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url("../img/sprite.svg");
	background-size: 120px;
}

.ok {
	background-position: -53px -649px;
}

.wk {
	background-position: -53px -685px;
}

.fb {
	background-position: -55px -723px;
}

.mail {
	background-position: -86px -762px;
}

.copyright {
	font-size: .75rem;
	text-align: center;
}

@media screen and (max-width:1170px) {
	.news-pic {
		background-size: 90%;
	}

	.team-outer {
		max-width: 890px;
	}

	.team-item {
		margin: 0 0 0 20px;
	}
}

@media screen and (max-width:992px) {
	nav,
	.page,
	.menu-label {
		-webkit-transition: -webkit-transform .5s, -webkit-filter .5s;
		transition: transform .5s, filter .5s, -webkit-transform .5s, -webkit-filter .5s;
	}

	.page-shadow {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(3, 8, 30, .2);
		visibility: hidden;
		opacity: 0;
		cursor: pointer;
	}

	.menu-label {
		position: fixed;
		top: 20px;
		left: 20px;
		z-index: 2;
		display: inline-block;
		color: #fff;
		font-size: 24px;
		cursor: pointer;
	}

	.menu-label::before {
		content: '\2630';
		display: inline-block;
		width: 35px;
		height: 35px;
		padding: 0;
		border-radius: 5px;
		background-color: #03081E;
		text-align: center;
	}

	#menu-checkbox:checked ~ .page,
	#menu-checkbox:checked ~ nav,
	#menu-checkbox:checked ~ .menu-label {
		-webkit-transform: translateX(270px);
		transform: translateX(270px)
	}

	#menu-checkbox:checked ~ .page-shadow {
		visibility: visible;
		opacity: 1;
		-webkit-transition: opacity .7s, visibility .7s;
		transition: opacity .7s, visibility .7s
	}

	#menu-checkbox:checked ~ .page {
		-webkit-filter: blur(3px);
		filter: blur(3px);
	}

	#menu-checkbox:checked ~ .menu-label::before {
		content: '\2716';
	}

	nav {
		position: fixed;
		width: 270px;
		height: 100vh;
		left: -270px;
		padding-top: 130px;
		-webkit-box-shadow: 3px 0 7px #000;
		box-shadow: 3px 0 7px #000;
	}
	nav .container {
		padding: 0;
	}

	.nav-left,
	.nav-right {
		float: none;
		display: block;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #2e3b50;
	}

	.nav-left a,
	.nav-right a,
	.mobile-menu {
		display: block;
		padding: 15px 0 15px 50px;
		-webkit-transition: background-color .25s, color .25s;
		transition: background-color .25s, color .25s;
	}

	nav li a:hover,
	.mobile-menu:hover {
		background: #fff;
		color: #03081E;
	}
	.nav-right::after,
	nav a::before {
		display: none;
	}
	.nav-extend > a {
		display: none;
	}

	.mobile-menu::before {
		content: '';
		position: absolute;
		left: 25px;
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		background: url("../img/sprite.svg") -35px -947px;
		background-size: 70px;
		-webkit-transition: -webkit-transform .25s;
		transition: -webkit-transform .25s;
		transition: transform .25s, -webkit-transform .25s;
	}

	.mobile-menu:hover::before {
		background-position: -35px -958px;
	}

	.submenu {
		-webkit-transform: none;
		transform: none;
		position: relative;
		height: 0;
		overflow: hidden;
		-webkit-animation: submenu-out .5s forwards;
		animation: submenu-out .5s forwards;
	}

	.menu-button:checked ~ .submenu {
		-webkit-animation-name: submenu-in;
		animation-name: submenu-in;
	}

	.menu-button:checked + .mobile-menu::before {
		transform: rotate(180deg) !important;
	}

	.logo {
		top: -100px;
		width: 80px;
		height: 80px;
	}

	.section-title {
		font-size: 2rem;
	}

	.header-top {
		display: none;
	}

	.slider-composition {
		width: 520px;
		top: 30%;
	}

	.slider-composition p {
		margin-bottom: 30px
	}

	.slider-composition a {
		border: 2px solid #ffac6c;
		background: #03081e;
	}

	.about {
		background-position: -70px 120px;
	}

	.about-content {
		width: 50%;
		margin-left: 200px;
	}

	.team-outer {
		margin: 10px auto 0;
		max-width: 610px;
	}

	.team-item {
		margin: 0 10px 0 20px;
	}

	.team-left,
	.team-right {
		position: static;
	}

	.services-subtitle {
		display: none;
	}

	.services-content {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.services-item {
		width: 90%;
		margin: 20px auto;
		-webkit-box-shadow: 0 0 3px 1px #7c7c7c;
		box-shadow: 0 0 3px 1px #7c7c7c;
	}

	.achievements {
		background: 0 0;
	}

	.achievements,
	.contacts,
	.news {
		padding-top: 0;
	}

	.contacts {
		padding-bottom: 150px;
	}

	.contacts-list {
		background: #fff;
		-webkit-box-shadow: 0 1px 7px 1px #000;
		box-shadow: 0 1px 7px 1px #000;
	}

	.contacts-descr {
		margin-bottom: 40px;
	}

	.news-pic {
		display: none;
	}

	.news .text,
	.news img,
	.news article {
		float: none;
		display: block;
	}

	.news img {
		margin: 0 auto 60px;
	}

	.news .text {
		width: inherit;
		max-width: 450px;
		margin: 0 auto;
	}

	.news .section-button {
		position: static;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	.footer-social {
		display: block;
		margin: 20px 0;
		text-align: center;
	}

	footer .container {
		text-align: center;
		padding: 0 15px;
	}

	footer .container::after {
		display: none;
	}
}

@media screen and (max-width:768px) {

	html {
		font-size: 14px;
	}

	.section-title {
		border-bottom: 2px solid #ffac6c;
	}

	.slider-composition {
		width: 90%;
	}

	.about-content {
		width: 60%;
	}

	.achieve {
		display: block;
	}

	.cases,
	.consult {
		float: none;
	}

	.total-descr {
		padding: 0 10px;
	}
}

@media screen and (max-width:720px) {
	.achievements-content {
		padding: 70px 0 50px;
	}

	.contacts img {
		display: none;
	}

	.contacts-descr {
		margin: 0 0 40px 0;
		padding: 0;
	}

	.contacts-descr p {
		padding: 0 20px;
	}

	.contacts-list {
		width: 100%;
	}

	.contacts-list li {
		font-size: 1rem;
		padding-left: 70px;
	}

	.contacts-list li::before {
		left: 10px;
	}

	.team-outer {
		max-width: 310px;
	}

	.team-item {
		margin: 0 10px 0 20px;
	}

	.footer-adress,
	.footer-links,
	figure {
		margin: 20px 0;
		display: block;
		text-align: center;
	}
}

@media screen and (max-width:576px) {

	.slide-title {
		font-size: 2.5rem;
	}

	.section-title {
		font-size: 1.7rem;
	}

	.slider-composition p {
		font-size: 1rem;
	}

	.about {
		padding-top: 50px;
		background-image: none;
	}

	.about-content {
		width: 90%;
		margin: 0 auto;
	}

	.team-outer {
		width: 270px;
	}

	.team-item {
		width: 250px;
		margin: 0 10px;
	}
	.team-item:hover {
		transform: none;
	}

	.services .container {
		background-image: none;
	}

	.services .section-title {
		margin: 20px 0 0;
	}

	.services-item ul li {
		padding-left: 10px;
		text-indent: 24px;
	}

	.services-item ul li::before {
		display: none;
	}

	.contacts-list {
		float: none;
		display: block;
		max-width: 350px;
		margin: 0 auto;
	}

	.contact-item,
	.contact-name {
		display: none;
	}
}

@-webkit-keyframes submenu-in {
	0% {
		height: 0
	}
	100% {
		height: 170px
	}
}

@keyframes submenu-in {
	0% {
		height: 0
	}
	100% {
		height: 170px
	}
}

@-webkit-keyframes submenu-out {
	0% {
		height: 170px
	}
	100% {
		height: 0
	}
}

@keyframes submenu-out {
	0% {
		height: 170px
	}
	100% {
		height: 0
	}
}

@-webkit-keyframes slide-out {
	0% {
		opacity: 0;
		z-index: 1;
	}
	100% {
		opacity: 0;
		z-index: 0;
	}
}

@keyframes slide-out {
	0% {
		opacity: 0;
		z-index: 1;
	}
	100% {
		opacity: 0;
		z-index: 0;
	}
}

@-webkit-keyframes slide-in {
	0% {
		z-index: 0;
		opacity: 0;
	}
	40% {
		z-index: 0;
		opacity: 1;
	}
	90% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes slide-in {
	0% {
		z-index: 0;
		opacity: 0;
	}
	40% {
		z-index: 0;
		opacity: 1;
	}
	90% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@-webkit-keyframes scale {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes up {
	0%,20%,60%,75%,90%,100% {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, 1000px, 0);
		transform: translate3d(-50%, 1000px, 0);
	}

	50% {
		-webkit-transform: translate3d(-50%, 1000px, 0);
		transform: translate3d(-50%, 1000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(-50%, -20px, 0);
		transform: translate3d(-50%, -20px, 0);
	}

	75% {
		-webkit-transform: translate3d(-50%, 10px, 0);
		transform: translate3d(-50%, 10px, 0);
	}

	90% {
		-webkit-transform: translate3d(-50%, -5px, 0);
		transform: translate3d(-50%, -5px, 0);
	}

	100% {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
	}
}

@keyframes up {
	0%,20%,60%,75%,90%,100% {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, 1000px, 0);
		transform: translate3d(-50%, 1000px, 0);
	}

	50% {
		-webkit-transform: translate3d(-50%, 1000px, 0);
		transform: translate3d(-50%, 1000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(-50%, -20px, 0);
		transform: translate3d(-50%, -20px, 0);
	}

	75% {
		-webkit-transform: translate3d(-50%, 10px, 0);
		transform: translate3d(-50%, 10px, 0);
	}

	90% {
		-webkit-transform: translate3d(-50%, -5px, 0);
		transform: translate3d(-50%, -5px, 0);
	}

	100% {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
	}
}
